:8080 {

  root * /Users/suriya/Documents/Github/AI-Smart-Advisor-to-Automate-Control-of-a-Million-Dollar-Printing-Press/Frontend/build
  file_server
  encode gzip zstd

  reverse_proxy /query* http://localhost:8000
  reverse_proxy /docs* http://localhost:8000
  reverse_proxy /messages* http://localhost:8050
  reverse_proxy /sse* http://localhost:8050
}
